/* スタイルの追加 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
}
#map {
  height: 100vh;
  width: 100%;
}
#search-box-container {
  position: absolute;
  padding: 3px;
  top: 5px;
  left: 230px;
  z-index: 1;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 2px solid #2589d0;
  border-radius: 3px;
}

.flex_test-box {
  display: flex;
  justify-content: space-between; /* 要素間のスペースを均等に配置 */
  align-items: center; /* 要素を中央揃え */
}

.flex_test-item {
  display: inline-block;
  border-radius: 5px;
  height: 43px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.flex_test-item label {
  margin-right: 5px;
}

.flex_test-item select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* 必要に応じて、セレクトボックスのスタイルを調整する */
select {
  width: 150px; /* 幅を適切に設定 */
  padding: 5px; /* パディングを追加して見た目を整える */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bar {
    display: none;
   }
/* ▼プルダウンメニューを囲む枠の装飾 */
.pulldownset {
    /*border: 3px double #0000cc;  /* 青色の二重線(3px) */
    /*background-color: #eeeeff;   /* 背景色：淡い青色 */
    margin: 1em 0px;             /* 外側の余白：上下に1文字分 */
    padding: 1em;                /* 内側の余白：周囲に1文字分 */
    overflow: auto;              /* はみ出る場合は自動調整(スクロールバーを表示) */
 }
 /* ▼プルダウンメニューそのものの装飾 */
 select {
    font-size: 1.2em;   /* 項目の文字サイズを1.2倍に */
 }
 .radis{
    border-radius: 10px;
    height:30px;
    width:auto;
 }
 .mainselect{
    border-radius:10px;
    height:30px;
    width:auto;
 }
 .subbox{
    border-radius: 10px;
    height:30px;
    width:auto;
 }
 #status{
   display: none;
 }
 .card{
   width: 350px;
   height: auto;
   border-radius: 8px;
   border: 4px solid #180303;
   overflow: hidden;
   box-shadow: 0 4px 15px rgba(0,0,0,.2)
 }
 #thumb2{
   width: 100%;
   height: 170px;
   object-fit: cover; /* この一行を追加するだけ！*/
 }
 .card__textbox{
   width: 100%;
   height: auto;
   padding: 20px 18px;
   background: #fff;
   box-sizing: border-box;
 }
 .card__textbox{
   margin-top: 10px;
 }
 .card__titletext{
   margin-top: 10px;
   font-size: 20px;
   font-weight: bold;
   line-height: 125%;
 }
 .card__overviewtext{
   font-size: 12px;
   line-height: 150%;
   padding-left: 3px;
   padding-right: 3px;
 }

 .card__img{
  border-radius: 30px;
 }
 
 #address {
  font-family: "MS 明朝" sans-serif;
  transition: color 0.3s;
 }
 
 a{
  text-decoration-line: none !important;
 }
 
a:hover{
  color : #ff7043;
}

 a img{
  border-radius: 8px; 
  border:solid 2px #cccccc;
 }

 a img:hover{ 
	opacity:0.5;
	transition:0.3s;
 }
 /* 一覧表示文字 */
 #addressesList li span {
  /* 9行に制限 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}
/* 実行中 */
#loadingMessage{
  top: 50px;
  z-index: 9999;
}
/* モバイル　検索　表示ボタン */
.searchBoxMb{
  display: none;
}
/* ロード中背景　半透明 用div */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明の白 */
  z-index: 1000;
  display: none; /* 初めは非表示 */
}

 /* 横幅700px以下 */
@media screen and (max-width:700px) {
  /* 検索 */
  #search-box-container {
    left: 152px;
  }
  .flex_test-item{
    padding-left: 0px;
  }
  .flex_test-item button{
    font-size: 13px;
  }
  /* 検索セレクト */
  .flex_test-item select{
    width: 85px;
    font-size: 13px;
  }
  /* 一覧表示文字 */
  #addressesList li span {
    font-size: 13px;
  }
  /* ピン詳細カード */
  .card{
    width: 250px;
  }
  /* google map 地図　航空写真 */
  .gm-style-mtc button{
    padding: 0px 16px !important;
    font-size: 13px !important;
  }
}
/* 横幅450px以下 */
@media screen and (max-width:450px) {
  .flex_test-box{
    display: none;
  }
  /* 一覧表示文字 */
  #addressesList li span {
    font-size: 11px;
  }
  /* 詳細カード */
  .card{
    width: 190px;
  }
  /* モバイル検索表示 ボタン*/
  .searchFormBtn{
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 160px; 
  }
  .formMb select{
    border: 1px solid #ccc;
    border-radius: 3px;
    width:85px;
    height: 30.08px;
    font-size: 13px;
  }
  .formMb button{
    font-size: 13px;
  }
  .searchBoxMb{
    display: block;
  }
  /* 実行中メッセージ */
  #loadingMessage{
    top: 200px;
  }
}